<app-default-form-container>
    <div class="flex flex-col justify-center text-center">
        <div class="justify-center font-bold mb-2 text-xl text-gray-800 sm:text-2xl">
            Crie sua Conta
        </div>
        <span class="justify-center text-sm text-center text-gray-500 items-center">
            Já tem uma conta?
            <a mat-button routerLink="/login" class="text-sm text-primary-500 underline hover:text-primary-700">
                entrar
            </a>
        </span>
    </div>

    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" class="my-2">
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Nome</mat-label>
            <input class="w-full" matInput type="text" formControlName="name">
            <mat-error *ngIf="form.controls['name'].hasError('required')">
                Você esqueceu de colocar seu nome
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>E-mail</mat-label>
            <input class="w-full" matInput type="email" formControlName="email">
            <mat-error *ngIf="form.controls['email'].hasError('required')">
                Você esqueceu de colocar um e-mail para contato
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">
                Coloque um email como seu_nome&#64;exemplo.com
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full" (input)="formatPhone()">
            <mat-label>Telefone</mat-label>
            <input class="w-full" matInput type="text" formControlName="phone">

            @if (form.get('phone')?.hasError('required')) {
            <mat-error>
                Telefone é obrigatório.
            </mat-error>
            }
            @else if (form.get('phone')?.hasError('pattern')) {
            <mat-error>
                Formato inválido. Use (00) 00000-0000.
            </mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Senha</mat-label>
            <input class="w-full" matInput type="password" formControlName="password">
            <mat-error *ngIf="form.controls['password'].hasError('required')">
                Você esqueceu de colocar sua senha!
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Confirmar Senha</mat-label>
            <input class="w-full" matInput type="password" formControlName="confirmPassword">
            @if (form.get('confirmPassword')?.hasError('required')) {
            <mat-error>
                Você esqueceu de colocar sua senha!
            </mat-error>
            }
            @else if (form.get('confirmPassword')?.hasError('mismatch')) {
            <mat-error>
                As senhas não coincidem!
            </mat-error>
            }
        </mat-form-field>

        <ng-content></ng-content>
    </form>

    <div class="flex flex-col sm:flex-row">
        <app-spinner-button class="w-full! text-xl!" [isLoading]="isLoading" [type]="'button'" (click)="onSubmit()">
            Criar Conta
        </app-spinner-button>
    </div>

</app-default-form-container>